main {
  background-color: rgb(54, 54, 54);
  width: 50%;
  height: 50%;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}
