:root, html, body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
